@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This site allows you to buy discounted products cheaply.</h3>
    </br>
    <h2>We wish you happy shopping :) </h2>
</div>
